/* MODELO DE CAIXA */
/*.conteudo {
    border: 1px solid red;
    /*paddin- top, right, bottom e left
    padding: 20px;
    /*margin- top, right, bottom e left
    margin: 20px;
    width: 150px;

}*/
/*------------------------------------------------------------------------------------------------*/
/* ELEMENTOS FLUTUANTES */
/*#principal {
    border: 1px solid red;
    background: green;
}
.conteudo {
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 5px;
    float: left;

}
.clear {
    clear: both; /*left, right, both e none
}*/
/*------------------------------------------------------------------------------------------------*/
/* ELEMENTOS FLUTUANTES NA PRÁTICA */
/*body {
    background: #f4f4f4;
}

#principal {
    width: 920px;
}
.noticia {
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 7px;
    float: left;
}
.imagem-galeria {
    background: white;
    padding: 5px;
    width: 265px;
    margin: 15px;
    float: left;
}
.clear {
    clear: both;
}*/
/*------------------------------------------------------------------------------------------------*/
/* POSICIONAMENTO STATIC, RELATIVE, ABSOLUTE FIXED*/
/*body {
    background: #007fc7;
}
#container {
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}
p {
    width: 300px;
}
.static {
    border: 1px solid blue;
    position: static        /*posicionamento static(padrão)
}
.relative {
    border: 1px solid red;
    position: relative;     /*posicionamento relativo (top, right, bottom, left)
    /*top: 20px;            desce 20px da sua posição inicial
    left: 80px;             move 80px para direita da sua posição inicial
    bottom: 10px;           sobe 10px da sua posição inicial
    right: 40px;            move 40px para esquerda da sua posição inicial
}
.absolute {
    border: 1px solid green;
    background: #f2f2f2;
    position: absolute;     /*posicionamento absolute
    top: 80px;
    right: 80px;
}
.fixed {
    border: 1px solid yellow;
    background: #f2f2f2;
    margin: 0px;
    position: fixed;        /*posicionamento fixed
    bottom: 0px;
    right: 0px;
}*/
/*------------------------------------------------------------------------------------------------*/
/* SOBREPONDO ELEMENTOS */
/*.conteudo1 {
    border: 1px solid red;
    background: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;         /*sobreposição
}
.conteudo2 {
    border: 1px solid red;
    background: green;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 1;
}
.conteudo3 {
    border: 1px solid red;
    background: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 160px;
    z-index: 1;
}*/
/*------------------------------------------------------------------------------------------------*/
/* FORMATANDO LINKS */
/*a {
    color: orange;      /*Links visitados(padrão), (quando temos visited que também é um link visitado, ele aplica o valor do visited)
    padding: 5px 10px;
    text-decoration: none;
}
a:link {
    color: #b9c941;     /*Links não visitados
}
a:visited {
    color: #c0c0c0;     /*Links visitados
}
a:hover {
    color: #6d790f;     /*Links quando passamos o cursor(mouse) sobre ele
}
a:active {
    color: #e4f371;     /*Links clicado
}*/
/*------------------------------------------------------------------------------------------------*/
/* SELETORES */

/*Seletor universal
* {
    border: 1px solid red; 
}*/

/*Seletor de texto
h1 {
    color: blue;           
}*/

/*Seletor de classe
.verde {
    color: green;
}
p.verde {
    color: green;
}*/

/*Seletor de id
#cabecalho {
    border: 1px solid blue;
}*/

/*seletor de filho
li>a {
    color: red;
    text-decoration: none;
}*/

/*seletor de descedente
p a {
    color: green;
}*/

/*seletor de irmão adjacente
h3+p {
    color: red;
}*/

/*seletor de irmão geral
h4~p {
    color: pink;
}*/
/*------------------------------------------------------------------------------------------------*/
/* HERANÇA E ESPECIFICIDADE */
/*HERANÇA*/
/*body {
    color: red;
}*/

/*ESPECIFICIDADE*/
/*QUANDO A SELETORES IGUAIS O ÚTIMO SERÁ APLICADO, A MENOS QUE COLOQUEMOS UM !IMPORTANT*/
/*p {
    color: blue;
}
p {
    color: green;
}*/
/*SEMPRE O SELETOR MAIS ESPECÍFICO SERÁ APLICADO*/
/** {
    color: red;
}
h2 {
    color: blue;
}
h2.verde {
    color: green;
}
h2#amarelo {
    color: yellow;
}*/
/*------------------------------------------------------------------------------------------------*/