/*BARRA DE NAVEGAÇÃO HORIZONTAL*/

/*UL*/
ul {
    margin: 0;                                                  /*ESPAÇAMENTO EXTERNO*/
    padding: 0;                                                 /*ESPAÇAMENTO INTERNO*/
    list-style: none;                                           /*MARCADOR DE LISTA*/
    width: auto;                                                /*LARGURA*/
    background: #159cb0 url("img/fundo-horizontal.png");   /*FUNDO*/
    float: left;                                                /*FLUTUANTE*/
}

/*LI DA UL*/
ul li {
    float: left;                                                /*FLUTUANTE*/
}

/*LINK DA UL*/
ul a {
    display: block;                                             /*TRANFORMA EM ELEMENTO TIPO BLOCK*/
    padding: 0 2em;                                             /*ESPAÇAMENTO INTERNO*/
    line-height: 2em;                                           /*ALTURA DA LINHA DA LETRA*/
    text-decoration: none;                                      /*DECORAÇÃO DO TEXTO*/
    color: #FFF;                                              /*COR*/
    background: url("img/divisor.png") repeat-y;             /*FUNDO*/
}

/*MARCANDO PÁGINA:*/

/*LINK DA UL QUE TEM A CLASSE*/
ul .primeiro a {
    background: none;                                           /*FUNDO*/
}

/*LER A PÁGINA E TROCA A COR DA PÁGINA ATUAL*/
#home #navegacao .home a {
    color: #085662;                                           /*COR*/
    background: #44cade;                                      /*FUNDO*/
}