/*PARALLAX

O efeito parallax é uma técnica utilizada para criar uma sensação de profundidade ao rolar uma página web. Ele envolve mover diferentes camadas de conteúdo em velocidades diferentes enquanto o usuário rola a página, criando assim uma ilusão tridimensional. O resultado final é um efeito visualmente atraente que dá a impressão de que elementos na frente se movem mais rápido do que os elementos no fundo, como se estivessem em camadas separadas.

Como criar um efeito de rolagem paralaxe

Use um elemento contêiner e adicione uma imagem de fundo ao contêiner com uma altura específica. Em seguida, use 'background-attachment: fixed' para criar o efeito de paralaxe real. Além disso, você deve adicionar uma 'height'(altura) para sua imagem. Você pode aplicar um valor para o height em px ou %. Se você quiser usar porcentagem, por exemplo 100%, para fazer com que a imagem caiba em toda a tela, defina a altura do contêiner de paralaxe para 100%. 
(OBS: Você também deve aplicar 'height: 100%;' tanto para <html> quanto para <body>)*/

/*------------------------------------------------------------------------------------------------*/

/*GERAL*/
* {
    margin: 0;                                          /*ESPAÇAMENTO EXTERNO*/
    padding: 0;                                         /*ESPAÇAMENTO INTERNO*/
}

/*PARA APLICAR O EFEITO PARALLAX USANDO % DEVE-SE APLICAR TANTO NO BODY QUANTO NO HTML*/
body, html {
    height: 100%;                                       /*ALTURA*/
    font-family: 'Segoe UI', sans-serif;                /*FONTES*/
}

/*APLICANDO O EFEITO PARALLAX NAS CLASSES*/
.caixa1, .caixa2, .caixa3, .caixa4 {
    position: relative;                                 /*POSICIONAMENTO*/
    height: 100%;                                       /*ALTURA*/
    width: 100%;                                        /*LARGURA*/
    background-attachment: fixed;                       /*DEIXA O FUNDO FIXO*/
    background-repeat: no-repeat;                       /*TIRA A REPETIÇÃO DO FUNDO*/
    background-size: cover;                             /*REDIMENCIONA O FUNDO PARA COBRIR TODO O CONTAINER*/
    background-position: center;                        /*POSICIONA O FUNDO NO CENTRO*/
    opacity: 0.7;                                       /*APLICA OPACIDADE NO FUNDO*/
}

/*CLASSES COM AS IMAGENS*/
.caixa1 {
    background-image: url(img/imagem1.jpg);             /*IMAGEM DE FUNDO*/
}
.caixa2 {
    background-image: url(img/imagem2.jpg);             /*IMAGEM DE FUNDO*/
}
.caixa3 {
    background-image: url(img/imagem3.jpg);             /*IMAGEM DE FUNDO*/
}
.caixa4 {
    background-image: url(img/imagem4.jpg);             /*IMAGEM DE FUNDO*/
}

/*TÍTULO DAS CAIXAS*/
.titulo-caixa {
    display: flex;                                        /*DISPLAY FLEXIVEL*/
    height: 100%;                                         /*ALTURA*/
    justify-content: center;                              /*ALINHAMENTO DOS ITENS FLEXÍVEIS*/
    align-items: center;                                  /*ALINHAMENTO DOS ITENS FLEXÍVEIS*/
}
.titulo-caixa span.titulo {
    color: #fff;                                      /*COR*/
    background-color: #111;                           /*FUNDO*/
    padding: 18px;                                      /*ESPAÇAMENTO INTERNO*/
    font-size: 25px;                                    /*TAMANHO DA FONTE*/
    letter-spacing: 5px;                                /*ESPAÇAMENTO DAS LETRAS*/
    text-transform: uppercase;                          /*TRANSFORMA O TEXTO EM MAIÚSCULO*/
}

/*CLASSE COM O CONTEÚDO*/ 
.conteudo {
    padding: 50px 80px;                                 /*ESPAÇAMENTO INTERNO*/
    text-align: justify;                                /*ALINHAMENTO DO TEXTO*/
    color: #000;                                      /*COR DO TEXTO*/
}
.conteudo h3 {
    color: #777;                                      /*COR DO TEXTO*/
    font-size: 1.4em;                                   /*TAMANHO DA FONTE*/
    text-align: center;                                 /*ALINHAMENTO DO TEXTO*/
    text-transform: uppercase;                          /*TRANSFORMA O TEXTO EM MAIÚSCULO*/
    padding-bottom: 20px;                               /*ESPAÇAMENTO INTERNO INFERIOR*/
}
.conteudo p {
    padding-bottom: 20px;                               /*ESPAÇAMENTO INTERNO INFERIOR*/
}