/*ARREDONDAMENTO COM IMAGENS SÓLIDAS*/

/*CAIXA 1*/
.caixa {
    width: 400px;                   /*LARGURA*/
    background: #dedede url(../img/topo.png) no-repeat left top;
}

/*TÍTULO DA CAIXA*/
.caixa h2 {
    padding: 10px 20px 0 20px;      /*ESPAÇAMENTO INTERNO*/
}

/*PARAGRAFO DA CAIXA*/
.caixa p {
    padding: 10px 20px 20px 20px;      /*ESPAÇAMENTO INTERNO*/
    background: url(../img/baixo.png) no-repeat 
    left bottom;
}

/*----------------------------------------------------------*/
/*ARREDONDAMENTO COM IMAGENS DEGRADÊ*/

/*CAIXA 2*/
.caixa2 {
    width: 400px;                   /*LARGURA*/
    background: url(../img/fundo-arredondamento.png) repeat-y;
}

/*TÍTULO DA CAIXA 2*/
.caixa2 h2 {
    padding: 10px 20px 0 20px;
    background: url(../img/topo2.png) no-repeat left top;
}

/*PARAGRAFO DA CAIXA 2*/
.caixa2 p {
    padding: 0 20px;
}

/*CLASSE DA DIV DA CAIXA 2*/
.caixa2 .ultimo {
    padding-bottom: 20px;
    background: url(../img/baixo2.png) no-repeat left bottom;
}
