/* CLASSES E IDS */
/*p {
    color: red;
}
h1 {
    color: blue;
}

.azul {                 /*Classe 
    color: gray;
}

#verde {                /*Id 
    color: green;
}*/
/*----------------------------------------------------------------------------------------------------*/
/* COR, IMAGEM, FUNDO(BACKGROUND), OPACIDADE */
/*.fundo {
	background-color: #f2f2f2;		                /*cor de fundo
	color: pink						                /*cor do texto
}*/
/*body {
    background-image: url('../img/yoshi.png');
    background-repeat: no-repeat;                   /*no-repeat, repeat, repeat-x, repeat-y 
    background-attachment: fixed; /* fixed, scroll 
    background-position: center center;             /*center, left, right (horizontal) / center, bottom, top (vertical) 
}/*
/*.fundo {
    background: blue url('../img/yoshi.png') no-repeat fixed center center;
}*/
/*----------------------------------------------------------------------------------------------------*/
/* DIVS E SPANS */
/*#topo {
    background: blue;
}

#conteudo {
    background: red;
}

#rodape {
    background: green;
}

.produto {
    background: gray;
    margin: 10px;
}

.azul {
    color: blue;
}*/
/*----------------------------------------------------------------------------------------------------*/
/* BORDAS */
/*#conteudo {
    border-width: 5px 10px 15px 20px;
    border-style: solid dotted dashed double;
    border-color: red green blue yellow;
}*/
/*----------------------------------------------------------------------------------------------------*/
/* FONTES, CORES E TAMANHOS */
/*div {
    font-size: 20px;
}
.formatacao {
    color: #E45281;
    font-size: 50px;
    background: #A3E3FB;
    font-family: Arial, Helvetica, sans-serif;
}
.tamanho {
    /*	px - pixel = tamanho fixo (tamanho padrão = 16px)
        % - porcentagem = tamanho relativo, relativo ao tamanho padrão (100% do tp = 16px)
        em - tamanho relativo ao container pai (1em = tamanho do container pai)
    
    font-size: 2em;
}
.negrito {
    /* normal, bold 100 até 900 
    font-weight: bold;
}
.italico {
    font-style: italic;
}
.decoracao {
    /* underline, overline ou line-through 
    text-decoration: underline;
}
.texto {
    font: bold 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
} 

img {
    width: 500px;   /*Largura
    height: 300px;  /*Altura
}*/
/*------------------------------------------------------------------------------------------------*/
/* MODELO DE CAIXA */
/*.conteudo {
    border: 1px solid red;
    /*paddin- top, right, bottom e left
    padding: 20px;
    /*margin- top, right, bottom e left
    margin: 20px;
    width: 150px;
}*/
/*------------------------------------------------------------------------------------------------*/
/* ELEMENTOS FLUTUANTES */
/*#principal {
    border: 1px solid red;
    background: green;
}
.conteudo {
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 5px;
    float: left;

}
.clear {
    clear: both; /*left, right, both e none
}*/
/*------------------------------------------------------------------------------------------------*/
/* ELEMENTOS FLUTUANTES NA PRÁTICA */
/*body {
    background: #f4f4f4;
}

#principal {
    width: 920px;
}
.noticia {
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 7px;
    float: left;
}
.imagem-galeria {
    background: white;
    padding: 5px;
    width: 265px;
    margin: 15px;
    float: left;
}
.clear {
    clear: both;
}*/
/*------------------------------------------------------------------------------------------------*/
/* ELEMENTOS INLINE, BLOCK E INLINE-BLOCK */
/*h1 {
    border: 1px solid red;
    display: block;         /*por padrão já é um elemento block
}
h2 {
    border: 1px solid red;
    display: inline;        /*transforma o h2 que é um elemento block em um elemento inline
}
h3 {
    border: 1px solid red;
    display: inline-block;  /*transforma o h3 que é um elemento block em um elemento inline-block
}
span {
    border: 1px solid red;
    display: inline;        /*por padrão já é um elemento inline
}
span.block {
    border: 1px solid red;
    display: block;         /*transforma o span que é um elemento inline em um elemento block
}
span.inline-block {
    border: 1px solid red;
    display: inline-block;  /*transforma o span que é um elemento inline em um elemento inline-block
}*/
/*------------------------------------------------------------------------------------------------*/
/* POSICIONAMENTO STATIC, RELATIVE, ABSOLUTE FIXED*/
/*body {
    background: #007fc7;
}
#container {
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}
p {
    width: 300px;
}
.static {
    border: 1px solid blue;
    position: static        /*posicionamento static(padrão)
}
.relative {
    border: 1px solid red;
    position: relative;     /*posicionamento relativo (top, right, bottom, left)
    /*top: 20px;            desce 20px da sua posição inicial
    left: 80px;             move 80px para direita da sua posição inicial
    bottom: 10px;           sobe 10px da sua posição inicial
    right: 40px;            move 40px para esquerda da sua posição inicial
}
.absolute {
    border: 1px solid green;
    background: #f2f2f2;
    position: absolute;     /*posicionamento absolute
    top: 80px;
    right: 80px;
}
.fixed {
    border: 1px solid yellow;
    background: #f2f2f2;
    margin: 0px;
    position: fixed;        /*posicionamento fixed
    bottom: 0px;
    right: 0px;
}*/
/*------------------------------------------------------------------------------------------------*/
/* SOBREPONDO ELEMENTOS */
/*.conteudo1 {
    border: 1px solid red;
    background: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;         /*sobreposição
}
.conteudo2 {
    border: 1px solid red;
    background: green;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 1;
}
.conteudo3 {
    border: 1px solid red;
    background: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 160px;
    z-index: 1;
}*/
/*------------------------------------------------------------------------------------------------*/
/* FORMATANDO LINKS */
/*a {
    color: orange;      /*Links visitados(padrão), (quando temos visited que também é um link visitado, ele aplica o valor do visited)
    padding: 5px 10px;
    text-decoration: none;
}
a:link {
    color: #b9c941;     /*Links não visitados
}
a:visited {
    color: #c0c0c0;     /*Links visitados
}
a:hover {
    color: #6d790f;     /*Links quando passamos o cursor(mouse) sobre ele
}
a:active {
    color: #e4f371;     /*Links clicado
}*/
/*------------------------------------------------------------------------------------------------*/
/* SELETORES */

/*Seletor universal
* {
    border: 1px solid red; 
}*/

/*Seletor de texto
h1 {
    color: blue;           
}*/

/*Seletor de classe
.verde {
    color: green;
}
p.verde {
    color: green;
}*/

/*Seletor de id
#cabecalho {
    border: 1px solid blue;
}*/

/*seletor de filho
li>a {
    color: red;
    text-decoration: none;
}*/

/*seletor de descedente
p a {
    color: green;
}*/

/*seletor de irmão adjacente
h3+p {
    color: red;
}*/

/*seletor de irmão geral
h4~p {
    color: pink;
}*/
/*------------------------------------------------------------------------------------------------*/
/* HERANÇA E ESPECIFICIDADE */
/*HERANÇA*/
/*body {
    color: red;
}*/

/*ESPECIFICIDADE*/
/*QUANDO A SELETORES IGUAIS O ÚTIMO SERÁ APLICADO, A MENOS QUE COLOQUEMOS UM !IMPORTANT*/
/*p {
    color: blue;
}
p {
    color: green;
}*/
/*SEMPRE O SELETOR MAIS ESPECÍFICO SERÁ APLICADO*/
/** {
    color: red;
}
h2 {
    color: blue;
}
h2.verde {
    color: green;
}
h2#amarelo {
    color: yellow;
}*/
/*------------------------------------------------------------------------------------------------*/
/* LISTAS */
/*ul.circle {
    list-style-type: circle;
}
  
ul.square {
    list-style-type: square;
}
  
ol.roman {
    list-style-type: lower-roman;
}
  
ol.alpha {
    list-style-type: lower-alpha;
}
ul.none {
    list-style-type: none;
}
ol.none {
    list-style-type: none;
}*/
/*------------------------------------------------------------------------------------------------*/
/* BARRA DE NAVEGAÇÃO VERTICAL */
/*ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}*/
/*ul a {
    width: 200px;               	    Largura
    height: 40px;               	    Altura
    display: block;
    color: #000;
    text-decoration: none;			
    text-indent: 40px;				    Indenta o texto
    line-height: 40px;          	    Define a altura de uma caixa de linha, soma caso já tenha um height
    background: #f7b600 url(img/menu.png);
}*/

/*a:hover {
    background-position: right bottom;	Muda a posição do background
    background-color: #f99200;          Caso a imagem não carregue
    color: #FFF;
}*/
/*------------------------------------------------------------------------------------------------*/
/* MARCANDO PÁGINA ATUAL */

/*UTILIZANDO UMA CLASSE*/
/*a:hover, .selecionado a {
    background-position: right bottom;	Muda a posição do background
    background-color: #f99200;          Caso a imagem não carregue
    color: #FFF;
}*/

/*OUTRA FORMA DE MARCAR UMA PÁGINA (RECOMENDADO)*/
/*#home #navegacao .home a {
    background-position: right bottom;	Muda a posição do background
    background-color: #f99200;          Caso a imagem não carregue
    color: #FFF;
}*/
/*------------------------------------------------------------------------------------------------*/
/* BARRA DE NAVEGAÇÃO HORIZONTAL */
/*ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    background: #159cb0 url(img/fundo-horizontal.png);
    float: left;
}
ul li {
    float: left;
}
ul a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #FFF;
    background: url(img/divisor.png) repeat-y;
}
ul .primeiro a {
    background: none;
}
#home #navegacao .home a {
    color: #085662;
    background: #44cade;
}*/
/*------------------------------------------------------------------------------------------------*/
/* BARRA DE NAVEGAÇÃO COM ABAS */
/*body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
}
ul li {
    float: left;
    background: url(img/aba-direita.png) no-repeat top right;
} 
li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(img/aba-esquerda.png) no-repeat top left;
    color: #fff;
}
ul a:hover {
    color: #894a1f;
}*/
/*MARCANDO PÁGINA*/
/*ul #atual {
    background: url(img/aba-direita-atual.png) no-repeat top right;
}
ul #atual a {
    background: url(img/aba-esquerda-atual.png) no-repeat top left;
}*/
/*------------------------------------------------------------------------------------------------*/
/* LAYOUT FIXO */ 

/*Os valores são dados em px*/

/*body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
#container {
    width: 720px;
    margin: 0 auto;
    background: #fff;
}
#marca {
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}
#conteudo {
    width: 520px;
    float: right;
}
#conteudo-principal {
    width: 320px;
    float: left;
}
#conteudo-secundario {
    width: 180px;
    float: right;
    background: #d1d1d1;
}
#conteudo-secundario h2, #conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;    
}
#navegacao {
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul {
    list-style: none;
}
#navegacao li a {
    text-decoration: none;
}
#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}*/
/*------------------------------------------------------------------------------------------------*/
/* LAYOUT LÍQUIDO */

/*Os valores são dados em %*/

/*body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
#container {
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
}
#marca {
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}
#conteudo {
    width: 75%;
    float: right;
}
#conteudo-principal {
    width: 63%;
    float: left;
}
#conteudo-secundario {
    width: 34%;
    float: right;
    background: #d1d1d1;
}
#conteudo-secundario h2, #conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;    
}
#navegacao {
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul {
    list-style: none;
}
#navegacao li a {
    text-decoration: none;
}
#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}*/
/*------------------------------------------------------------------------------------------------*/
/* IMAGEM LÍQUIDA */
/*body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
#container {
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 1280px;
}
#marca {
    height: 200px;
    background: #225992 url(img/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}
#conteudo {
    width: 75%;
    float: right;
}
#conteudo-principal {
    width: 63%;
    float: left;
}
img.img-noticia {
    width: 96%;
    padding: 2%;
    max-width: 600px;
}
#conteudo-secundario {
    width: 34%;
    float: right;
    background: #d1d1d1;
}
#conteudo-secundario h2, #conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;    
}
#navegacao {
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul {
    list-style: none;
}
#navegacao li a {
    text-decoration: none;
}
#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}*/
/*------------------------------------------------------------------------------------------------*/
/* TABELAS */
/*body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
table {
    width: 600px;
    border-collapse: collapse;  /*Borda da tabela - collapse ou separete(padrão)
}
th td {
    padding: 7px;
}
th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}
tr.alternado {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e6e5;
}*/
/*------------------------------------------------------------------------------------------------*/
/* FORMULÁRIOS */ 
/*body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
fieldset {
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 1em 0;
}
legend {
    font-weight: bold;
}
label {
    display: block;
    cursor: pointer;
}
input[type="text"] {    /*Aplica apenas para o atributo text
    width: 300px;
}
textarea {
    width: 300px;
    height: 10em;

}
.radio {
    margin-right: 0.5em;
}*/
/*------------------------------------------------------------------------------------------------*/
/* FORMULÁRIOS 2 */ 
/*GERAL
body {
    width: auto;                                                        /*LARGURA
    font-family: 'Trebuchet MS', Helvetica, sans-serif;                 /*FONTES
    background: #472664 url(img/fundo.jpg) no-repeat top center;      /*FUNDO COM COR E IMAGEM
    background-size: 1480px;                                            /*TAMANHO DA IMAGEM DE FUNDO
}

/*PRINCIPAL
#container {
    width: 400px;                                                       /*LARGURA
    height: 300px;                                                      /*ALTURA
    background: rgba(255, 255, 255, 0.3);                             /*FUNDO COM OPACIDADE
    border-radius: 10px;                                                /*BORDA ARREDONDADA
    margin: 0 auto;                                                     /*ESPAÇAMENTO EXTERNO
    margin-top: 120px;                                                  /*ESPAÇAMENTO EXTERNO SUPERIOR
    text-align: center;                                                 /*CENTRALIZA O TEXTO
}

/*IMAGEM DE PERFIL
#container img {
    width: 120px;                                                       /*LARGURA
    height: 120px;                                                      /*ALTURA
    margin-top: -60px;                                                  /*ESPAÇAMENTO EXTERNO SUPERIOR
    margin-bottom: 30px;                                                /*ESPAÇAMENTO EXTERNO INFERIOR
}

/*INPUT
input {
    width: 80%;                                                         /*LARGURA
    height: 40px;                                                       /*ALTURA
    font-size: 18px;                                                    /*TAMANHO DA FONTE(LETRA)
    margin-bottom: 10px;                                                /*ESPAÇAMENTO EXTERNO INFERIOR
    background: #fff;                                                 /*COR DE FUNDO
    padding-left: 40px;                                                 /*ESPAÇAMENTO INTERNO ESQUERDO
    border: none;                                                       /*BORDA
    background-repeat: no-repeat;                                       /*REPETIÇÃO DO FUNDO
    background-position: 10px;                                          /*POSIÇÃO DO FUNDO
}

/*CAMPO DO EMAIL
input.email {
    background-image: url(img/icone-usuario.png);                       /*IMAGEM DE FUNDO(ICONE DE USUARIO)
}

/*CAMPO DA SENHA
input.senha {
    background-image: url(img/icone-cadeado.png);                       /*IMAGEM DE FUNDO(ICONE DE CADEADO)
}

/*BOTÃO DE ENVIAR
input.submit {
    width: 90%;                                                         /*LARGURA
    height: 45%;                                                        /*ALTURA
    color: #fff;                                                      /*COR DO TEXTO
    background: #f79300;                                              /*COR DE FUNDO
    border: 2px solid #db7d00;                                        /*BORDA
    padding: 5px 20px;                                                  /*ESPAÇAMENTO INTERNO
    text-transform: uppercase;                                          /*DEIXA TODAS AS LETRAS MAIÚSCULAS
    cursor: pointer;                                                    /*EFEITO DA MÃOZINHA
    background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);/*Torna o fundo compatível(chrome)
    background: -moz-linear-gradient(to bottom, #faa600, #f68a00);  /*Versão do navegador(mozila)
    background: -o-linear-gradient(to bottom, #faa600, #f68a00);    /*Versão do navegador(opera)
    background: linear-gradient(to bottom, #faa600, #f68a00);       /*FUNDO DEGRADÊ
}

/*ESQUECI MINHA SENHA
ul {
    list-style-type: none;                                              /*MARCADOR DE LISTA
    padding: 0 20px;                                                    /*ESPAÇAMENTO INTERNO
}
li a {
    margin-top: -5px;                                                   /*ESPAÇAMENTO EXTERNO SUPERIOR
    color: #c27006;                                                   /*COR DO TEXTO
    text-align: center;                                                 /*CENTRALIZA O TEXTO
    display: block;                                                     /*TORNA EM TIPO BLOCK
    text-transform: uppercase;                                          /*DEIXA TODAS AS LETRAS MAIÚSCULAS
}*/

/*------------------------------------------------------------------------------------------------*/
/* ARREDONDAMENTO COM IMAGEM */

/*ARREDONDAMENTO COM IMAGENS SÓLIDAS*/

/*CAIXA 1
.caixa {
    width: 400px;                                                       /*LARGURA
    background: #dedede url(../img/topo.png) no-repeat left top;      /*FUNDO
}

/*TÍTULO DA CAIXA
.caixa h2 {
    padding: 10px 20px 0 20px;                                          /*ESPAÇAMENTO INTERNO
}

/*PARAGRAFO DA CAIXA
.caixa p {
    padding: 10px 20px 20px 20px;                                       /*ESPAÇAMENTO INTERNO
    background: url(../img/baixo.png) no-repeat left bottom;            /*FUNDO
}*/


/*ARREDONDAMENTO COM IMAGENS DEGRADÊ*/

/*CAIXA 2
.caixa2 {
    width: 400px;                                                       /*LARGURA
    background: url(../img/fundo-arredondamento.png) repeat-y;          /*FUNDO
}

/*TÍTULO DA CAIXA 2
.caixa2 h2 {
    padding: 10px 20px 0 20px;                                          /*ESPAÇAMENTO INTERNO
    background: url(../img/topo2.png) no-repeat left top;               /*FUNDO
}

/*PARAGRAFO DA CAIXA 2
.caixa2 p {
    padding: 0 20px;                                                    /*ESPAÇAMENTO INTERNO
}

/*CLASSE DA DIV DA CAIXA 2
.caixa2 .ultimo {
    padding-bottom: 20px;                                               /*ESPAÇAMENTO INTERNO
    background: url(../img/baixo2.png) no-repeat left bottom;           /*FUNDO
}*/
/*------------------------------------------------------------------------------------------------*/
/* PARALLAX */

/*GERAL
* {
    margin: 0;                                          /*ESPAÇAMENTO EXTERNO
    padding: 0;                                         /*ESPAÇAMENTO INTERNO
}

/*PARA APLICAR O EFEITO PARALLAX USANDO % DEVE-SE APLICAR TANTO NO BODY QUANTO NO HTML
body, html {
    height: 100%;                                       /*ALTURA
    font-family: 'Segoe UI', sans-serif;                /*FONTE
}

/*APLICANDO O EFEITO PARALLAX NAS CLASSES
.caixa1, .caixa2, .caixa3, .caixa4 {
    position: relative;                                 /*POSICIONAMENTO
    height: 100%;                                       /*ALTURA
    width: 100%;                                        /*LARGURA
    background-attachment: fixed;                       /*DEIXA O FUNDO FIXO
    background-repeat: no-repeat;                       /*TIRA A REPETIÇÃO DO FUNDO
    background-size: cover;                             /*REDIMENCIONA O FUNDO PARA COBRIR TODO O CONTAINER
    background-position: center;                        /*POSICIONA O FUNDO NO CENTRO
    opacity: 0.7;                                       /*APLICA OPACIDADE NO FUNDO
}

/*CLASSES COM AS IMAGENS
.caixa1 {
    background-image: url(img/imagem1.jpg);             /*IMAGEM DE FUNDO
}
.caixa2 {
    background-image: url(img/imagem2.jpg);             /*IMAGEM DE FUNDO
}
.caixa3 {
    background-image: url(img/imagem3.jpg);             /*IMAGEM DE FUNDO
}
.caixa4 {
    background-image: url(img/imagem4.jpg);             /*IMAGEM DE FUNDO
}

/*TÍTULO DAS CAIXAS
.titulo-caixa {
    position: absolute;                                 /*POSICIONAMENTO
    left: 0;                                            /*POSICIONAMENTO
    top: 48%;                                           /*POSICIONAMENTO
    width: 100%;                                        /*LARGURA
    text-align: center;                                 /*ALINAHMENTO DO TEXTO
}
.titulo-caixa span.titulo {
    color: #fff;                                      /*COR
    background-color: #111;                           /*FUNDO
    padding: 18px;                                      /*ESPAÇAMENTO INTERNO
    font-size: 25px;                                    /*TAMANHO DA FONTE
    letter-spacing: 5px;                                /*ESPAÇAMENTO DAS LETRAS
    text-transform: uppercase;                          /*TRANSFORMA O TEXTO EM MAIÚSCULO
}

/*CLASSE COM O CONTEÚDO
.conteudo {
    padding: 50px 80px;                                 /*ESPAÇAMENTO INTERNO
    text-align: justify;                                /*ALINHAMENTO DO TEXTO
    color: #000;                                      /*COR DO TEXTO
}
.conteudo h3 {
    color: #777;                                      /*COR DO TEXTO
    font-size: 1.4em;                                   /*TAMANHO DA FONTE
    text-align: center;                                 /*ALINHAMENTO DO TEXTO
    text-transform: uppercase;                          /*TRANSFORMA O TEXTO EM MAIÚSCULO
    padding-bottom: 20px;                               /*ESPAÇAMENTO INTERNO INFERIOR
}
.conteudo p {
    padding-bottom: 20px;                               /*ESPAÇAMENTO INTERNO INFERIOR
}

/*------------------------------------------------------------------------------------------------*/
/*NORMALIZE CSS*/

/*
LINK: https://necolas.github.io/normalize.css/8.0.1/normalize.css 
*/

/*------------------------------------------------------------------------------------------------*/
/*CANTOS ARREDONDADOS*/

/*.caixa {
    width: 300px;
    height: 300px;
    background: #b9c941;
    margin: 10px;
    padding: 10px;
    border-radius: 10px 30px 60px 90px;
    margin-bottom: 40px;
    text-align: center;
}
.caixa2 {
    width: 300px;
    height: 300px;
    background: #b9c941;
    margin: 10px;
    padding: 10px;
    border-radius: 30px 60px;
    margin-bottom: 40px;
    text-align: center;
}
.caixa3 {
    width: 300px;
    height: 300px;
    background: #b9c941;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.caixa4 {
    width: 400px;
    height: 400px;
    background: #b9c941;
    border-radius: 150px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.imagem {
    border-radius: 150px;
}*/

/*------------------------------------------------------------------------------------------------*/
/*BOX-SIZING*/

/*SEM BOX-SIZING*/
/*.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    margin-bottom: 30px;
}
  
.div2 {
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 1px solid red;
    margin-bottom: 30px;
}*/

/*COM BOX-SIZING*/
/*.div3 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
    margin-bottom: 30px;
}
  
.div4 {
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 1px solid red;
    box-sizing: border-box;
    margin-bottom: 30px;
}*/

/*------------------------------------------------------------------------------------------------*/
/*GRADIENTES*/

/*LINEAR*/
/*#grad-linear {
    background: linear-gradient(red, yellow);
    width: 300px;
    height: 200px;
  }
  #grad-linear2 {
    background: linear-gradient(to right, red , yellow);
    width: 300px;
    height: 200px;
  }
  #grad-linear3 {
    background: linear-gradient(to bottom right, red, yellow);
    width: 300px;
    height: 200px;
  }*/
  
/*RADICAL*/
/* #grad-radical {
    background: radial-gradient(red, yellow, green);
    width: 300px;
    height: 200px;
}
#grad-radical2 {
    background: radial-gradient(red 5%, yellow 15%, green 60%);
    width: 300px;
    height: 200px;
}
#grad-radical3 {
    background: radial-gradient(circle, red, yellow, green);
    width: 300px;
    height: 200px;
}*/
  
/*CÔNICO*/
/*#grad-conico {
    background: conic-gradient(red, yellow, green);
    width: 300px;
    height: 200px;
}
#grad-conico2 {
    background: conic-gradient(red 45deg, yellow 90deg, green 210deg);
    width: 300px;
    height: 200px;
}
#grad-conico3 {
    background: conic-gradient(from 90deg, red, yellow, green);
    width: 300px;
    height: 200px;
}
#grad-conico4 {
    background: conic-gradient(at 60% 45%, red, yellow, green);
    width: 300px;
    height: 200px;
}*/

/*------------------------------------------------------------------------------------------------*/
/*SOMBRAS*/

/*SOMBRA NO TEXTO*/

/*horizontal e vertical
.a h1 {
    text-shadow: 2px 2px;
}

/*horizontal, vertical e cor
.b h1 {
    text-shadow: 2px 2px red;
}

/*horizontal, vertical, Desfoque e cor
.c h1 {
    text-shadow: 2px 2px 5px red;
}

/*várias sombras 
.d h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}*/

/*SOMBRA EM CAIXA*/

/*horizontal e vertical
#caixa1 {
    margin-top: 50px;
    width: 200px;
    height: 100px;
    background: rgb(169, 169, 228);
    box-shadow: 10px 10px;
    margin-bottom: 50px;
}

/*horizontal, vertical e cor
#caixa2 {
    width: 200px;
    height: 100px;
    background: rgb(169, 169, 228);
    box-shadow: 10px 10px gray;
    margin-bottom: 50px;
}

/*horizontal, vertical, desfoque e cor
#caixa3 {
    width: 200px;
    height: 100px;
    background: rgb(169, 169, 228);
    box-shadow: 10px 10px 5px gray;
    margin-bottom: 50px;
}

/*horizontal, vertical, desfoque, dispersão e cor
#caixa4 {
    width: 200px;
    height: 100px;
    background: rgb(169, 169, 228);
    box-shadow: 10px 10px 5px 12px gray;
    margin-bottom: 50px;
}

/*sombra interna
#caixa5 {
    width: 200px;
    height: 100px;
    background: rgb(169, 169, 228);
    box-shadow: 10px 10px 5px gray inset;
    margin-bottom: 50px;
}

/*várias sombras
#caixa6 {
    width: 200px;
    height: 100px;
    background: rgb(169, 169, 228);
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    margin-bottom: 50px;
}
/*------------------------------------------------------------------------------------------------*/
/* ANIMAÇÕES */
/*@keyframes animacao {
    from {
        background-color: red;                /*Estado inicial da animação.
    }
    to {
        background-color: blue;               /*Estado final da animação.
    }
}

div {
    width: 300px;
    height: 300px;
    animation-name: animacao;                   /*Nome da animação
    animation-duration: 5s;                     /*Duração da animação em segundos
    animation-timing-function: linear;          /*Função de temporização
    animation-delay: 1s;                        /*Tempo de espera antes da animação começar
    animation-iteration-count: 4;               /*Número de vezes que a animação deve ser repetida
    animation-direction: alternate;             /*Direção da animação
    animation-fill-mode: both;                  /*O estado do elemento antes e depois da execução da animação
    
    animation: animacao 5s linear 1s 4 alternate both;   /*Forma abreviada de declarar uma animação
}*/
/*------------------------------------------------------------------------------------------------*/
/*TRANSIÇÕES*/
/*div {
    width: 200px;
    height: 200px;
    background-color: coral;
}

div:hover {
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
    transition: all 2s ease 0s;     /*propriedade(todas), duração(2s), curva de temporização(ease), delay(0s)
}*/
/*------------------------------------------------------------------------------------------------*/
/*FLEXBOX*/

/*FLEXBOX CONTAINER*/
#conteudo {
    background-color: #dcdcdc;
    height: 400px;
    display: flex;                      /*Define que o display é flexível.*/
    
    /*Especifica a direção dos itens flexíveis dentro de um flex container*/
    flex-direction: row;                /*row, row-reverse, column e column-reverse.*/
    
    /*Especifica se os itens flexíveis devem ser agrupados ou não, se não houver espaço suficiente para eles em uma linha flexível*/
    flex-wrap: wrap;                    /*nowrap, wrap e wrap-reverse.*/
    
    /*Alinha horizontalmente os itens flexíveis quando os itens não usam todo o espaço disponível no eixo principal*/
    justify-content: space-around;      /*flex-start, center, flex-end, space-around e space-between.*/
    
    /*Alinha verticalmente os itens flexíveis quando os itens não usam todo o espaço disponível no eixo cruzado*/
    align-items: center;                /*stretch, flex-start, center, flex-end e baseline.*/
}
.item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: white;
    border: 1px solid gray;
}
}